body{font-family: 'Noto Sans KR', sans-serif;
}
/*------------------------------------------*/
.googleRight{
    background: #fff;
    height: 1px;
    position: absolute;
    width: 120%;
    z-index: -10;

    background-color: #EDEDED;
    bottom: -470px;
    height: 350px;  
    right: 0;
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
}
.googleLeft{
    background: #fff;
    height: 1px;
    position: absolute;
    width: 120%;
    z-index: -10;

    background-color: #EDEDED;
    bottom: -470px;
    height: 350px;
    right: 0;
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
}
/*------------------------------------------*/
header{height: 60px;
    background-color: white;
    border: 1px solid #dcdcdc;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
}
#logo{padding-top: 17px;
    float: left;
    width:162px;
    height:24px;
    margin-left: 25px;
    margin-right: 25px;
}
.menu{width:60%;
    float: left;
    margin-left: -50px;
}
.menu li{list-style-type: none;
    float: left;
}
.menu a{opacity: 0.5;
    font-weight: 900;
    text-decoration: none;
    font-size: 13.5px;
    line-height: 23px;
    color: black;
    padding: 0 15px;
    display: block;
    margin-left: 25px;
}
.menu a:hover{
    opacity: 0.8;
}
.wrapper{width: 1170px;
}
.clearfix{content: '';
    display: block;
    clear: both;
}
/*------------------------------------------*/
#yt{margin-top: 150px;
    width: 202px;
    height: 45px;
}
.intro,.article{text-align: center;
    font-size: 32px;
    font-weight: 300;
    max-width: 550;

}
.intro section{
    margin-top: 17px;
    line-height: 1.3125;
}
/*------------------------------------------*/
.block{
    text-align: left;
    margin: 0 auto;
    padding: 0 auto;
    width: 1040px;
    height: 200px;
}
.title{
    font-weight: bold;
    font-size: 45px;
}
.title_right{
    padding-left: 50%;
    font-weight: 900;
    font-size: 45px;
}
.text{
    font-size: 14px;
}
.text_right{
    padding-left: 50%;
    font-size: 14px;
}
